
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
/*  font-family: "Roboto Mono";
*/
  font-family: "Courier New";
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
*/

/* Sections
 * --------
 */
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/*******************
  Utility classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

/*******************
  Application classes
*******************/

.container {
  border: solid;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

/*
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
*/

/* File */
.file {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 1em;
}

.file:hover {
  background-color: #ccc;
}

/* Folder */
.folder {
  position: relative;
  display: block;
  cursor: pointer;
}

.folder:hover {
  background-color: #ccc;
}

