
/*
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*/
html {
/*  font-family: "Roboto Mono";
*/
  color: rgba(0, 0, 0, 0.87);
  font-family: "Courier New";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
/*
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
*/
}

/*
@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
*/

/* Sections
 * --------
 */
section {
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  width: 100%;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/*******************
  Utility classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

/*******************
  Application classes
*******************/

.menu {
  display: flex;
}

.menu sup {
  margin-left: 0.5em;
}

.menu-button {
  cursor: pointer;
  margin-left: 2em;
}

.menu-form {
  margin-left: 2em;
}

.menu-clock {
  border: groove;
  border-radius: 6px;
  padding-left:  1em;
  padding-right: 1em;
  position: absolute;
  right: 0;
}


.search-form {
  border: groove;
  border-radius: 6px;
  font-size: 0;
  margin: 0;
  width: 200px;
}

.search-text {
  background-color: white;
  border: none;
  width: 167px;
}

.search-button {
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}


.container {
  border: groove;
  border-radius: 18px;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

/*
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
*/

/* File */
.file {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 1em;
}

.file:hover {
  background-color: #ccc;
}

/* Folder */
.folder {
  cursor: pointer;
  display: block;
  position: relative;
}

.folder-name {
  cursor: pointer;
  display: block;
  position: relative;
}

.folder-name:hover {
  background-color: #ccc;
}

